.main-title {
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 4px #000000;
}

.sub-title {
  font-family: 'Acme', sans-serif;
}

.job-title {
  color: #FF530D;
}

.headshot {
  -webkit-box-shadow: 10px 10px 74px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 74px -17px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 74px -17px rgba(0,0,0,0.75);
}
