.main-title {
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px 4px #000000;
}

.sub-title {
  font-family: 'Acme', sans-serif;
}

.job-title {
  color: tomato;
  text-shadow: 1px 1px 2px #000000;
}

.section-title {
  color: tomato;
  text-shadow: 1px 1px 2px #000000;
}

.headshot {
  width: 25%;
  padding: 10px 10px 10px 10px;
  border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -webkit-border-radius: 25px 25px 25px 25px;
}
